// ==========================================================================
// (SCSS) Section Cookie notification
// ==========================================================================

$media-breakpoint-sm: 576px; // @media (min-width: $media-breakpoint-sm) {  }
$media-breakpoint-md: 768px; // @media (min-width: $media-breakpoint-md) {  }
$media-breakpoint-lg: 992px; // @media (min-width: $media-breakpoint-lg) {  }
$media-breakpoint-xl: 1200px; // @media (min-width: $media-breakpoint-xl) {  }

$cookie-notification-background-color: #ffffff;

.cookie-notification {
  background-color: $cookie-notification-background-color;
  bottom: 0;
  box-shadow: 0 -2px 8px 0 rgba(#000000, 0.2);
  left: 0;
  padding: 20px 0;
  position: fixed;
  right: 0;
  transform: translateY(100%);
  transition-duration: 0.5s;
  transition-property: transform;
  transition-timing-function: ease;
  z-index: 5;
  &_active {
    transform: translateY(0%);
  }
  &__container {
    text-align: center;
    @media (min-width: $media-breakpoint-md) {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }
  &__icon {
    height: auto;
    margin-bottom: 10px;
    width: 40px;
    @media (min-width: $media-breakpoint-md) {
      flex: 0 0 auto;
      margin-bottom: 0;
    }
  }
  &__description {
    @media (min-width: $media-breakpoint-md) {
      padding: 0 30px;
    }
    p {
      font-size: 0.8rem;
      margin: 0;
      text-align: left;
    }
  }
  &__button {
    margin-top: 20px;
    @media (min-width: $media-breakpoint-md) {
      margin-top: 0;
    }
  }
}
