{if isset($cookie_notification) && $cookie_notification}
<div id="cookie-notification" class="cookie-notification">
  <div class="container cookie-notification__container">
    <svg
      class="cookie-notification__icon"
      width="64"
      height="64"
      viewBox="0 0 64 64"
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      xml:space="preserve"
      xmlns:serif="http://www.serif.com/"
      style="fill-rule:evenodd;clip-rule:evenodd;stroke-linejoin:round;stroke-miterlimit:1.41421;"
    >
      <rect
        x="21.123"
        y="19.576"
        width="3.833"
        height="3.833"
        style="fill:#f39d72;fill-rule:nonzero;"
      />
      <rect
        x="29.583"
        y="29.167"
        width="3.833"
        height="3.833"
        style="fill:#f39d72;fill-rule:nonzero;"
      />
      <rect
        x="14.833"
        y="30.084"
        width="3.833"
        height="3.833"
        style="fill:#f39d72;fill-rule:nonzero;"
      />
      <rect
        x="23.417"
        y="41.414"
        width="3.833"
        height="3.833"
        style="fill:#f39d72;fill-rule:nonzero;"
      />
      <rect
        x="37.167"
        y="41.914"
        width="3.833"
        height="3.833"
        style="fill:#f39d72;fill-rule:nonzero;"
      />
      <rect
        x="43.917"
        y="32"
        width="3.833"
        height="3.833"
        style="fill:#f39d72;fill-rule:nonzero;"
      />
      <rect
        x="30.081"
        y="13.071"
        width="3.833"
        height="3.833"
        style="fill:#f39d72;fill-rule:nonzero;"
      />
      <rect
        x="39.579"
        y="19.576"
        width="3.833"
        height="3.833"
        style="fill:#f39d72;fill-rule:nonzero;"
      />
      <path
        d="M63.998,32.169c0.017,-3.188 -1.728,-5.995 -4.368,-7.443c1.584,-2.559 1.722,-5.862 0.137,-8.628c-1.584,-2.767 -4.503,-4.323 -7.511,-4.249c0.087,-3.009 -1.451,-5.934 -4.209,-7.534c-2.758,-1.598 -6.062,-1.479 -8.63,0.092c-1.433,-2.647 -4.231,-4.407 -7.419,-4.407c-2.99,0 -5.7,1.599 -7.202,4.048c-2.499,-1.418 -5.643,-1.509 -8.261,-0.064c-2.792,1.54 -4.39,4.433 -4.367,7.444c-3.006,-0.135 -5.957,1.357 -7.599,4.089c-1.642,2.733 -1.574,6.038 -0.045,8.63c-2.669,1.392 -4.473,4.162 -4.523,7.349c-0.05,3.188 1.666,6.013 4.29,7.488c-1.611,2.543 -1.783,5.844 -0.228,8.627c1.555,2.783 4.456,4.368 7.466,4.327c-0.118,3.008 1.388,5.95 4.13,7.578c2.741,1.628 6.046,1.543 8.63,-0.001c1.406,2.661 4.185,4.451 7.373,4.485c0.03,0 0.06,0 0.09,0c3.151,0 5.928,-1.723 7.375,-4.329c2.551,1.598 5.853,1.752 8.628,0.182c2.775,-1.57 4.343,-4.479 4.288,-7.489c3.013,0.104 5.942,-1.42 7.556,-4.169c1.613,-2.75 1.51,-6.054 -0.047,-8.63c2.654,-1.419 4.429,-4.208 4.446,-7.396Zm-3.75,-0.02c-0.013,2.403 -1.822,4.397 -4.208,4.638l-4.827,0.489l3.901,2.885c1.928,1.425 2.466,4.064 1.25,6.136c-1.216,2.073 -3.781,2.89 -5.967,1.902l-4.421,-1.998l1.929,4.452c0.953,2.201 0.095,4.753 -1.997,5.936c-2.091,1.183 -4.721,0.604 -6.116,-1.346l-2.822,-3.947l-0.565,4.819c-0.277,2.366 -2.273,4.135 -4.654,4.135c-0.016,0 -0.033,0 -0.05,0c-2.403,-0.025 -4.388,-1.845 -4.616,-4.232l-0.463,-4.831l-2.906,3.887c-1.436,1.921 -4.076,2.445 -6.143,1.218c-2.066,-1.228 -2.87,-3.797 -1.87,-5.977l2.021,-4.411l-4.462,1.905c-2.206,0.941 -4.753,0.07 -5.926,-2.027c-1.171,-2.098 -0.579,-4.724 1.379,-6.109l3.961,-2.802l-4.816,-0.59c-2.381,-0.292 -4.147,-2.323 -4.109,-4.726c0.038,-2.402 1.868,-4.377 4.256,-4.594l4.833,-0.437l-3.871,-2.926c-1.914,-1.446 -2.423,-4.09 -1.185,-6.149c1.237,-2.06 3.811,-2.85 5.986,-1.84l4.4,2.045l-1.881,-4.472c-0.931,-2.211 -0.046,-4.754 2.058,-5.915c1.93,-1.065 4.373,-0.629 5.81,1.037l2.474,2.867l0.781,-3.706c0.453,-2.152 2.382,-3.715 4.586,-3.715c2.403,0 4.406,1.799 4.66,4.184l0.514,4.825l2.864,-3.917c1.416,-1.936 4.051,-2.488 6.13,-1.282c2.079,1.205 2.91,3.766 1.934,5.956l-1.975,4.432l4.441,-1.952c2.197,-0.965 4.753,-0.12 5.947,1.965c1.194,2.085 0.629,4.718 -1.315,6.123l-3.931,2.844l4.822,0.539c2.384,0.266 4.172,2.28 4.159,4.682Z"
        style="fill:#f39d72;fill-rule:nonzero;"
      />
    </svg>
    <div class="cookie-notification__description">
      {$cookie_notification nofilter}
    </div>
    <button
      id="cookie-notification-button"
      class="btn btn-primary cookie-notification__button"
    >
      {l s='Yes, I accept Cookies' mod='cookienotification'}
    </button>
  </div>
</div>
{/if}
